{% include 'header.html' %}
<title>Company and Furnace Management</title>

<style>
    .add_button{
        display: inline-block;
        background: url('/static/images/add.svg') no-repeat center center;
        background-size: contain;                  
        width: 25px;
        height: 25px; 
        cursor: pointer;
        margin-right: 10px;
    }
    .delete_button{
        display: inline-block;
        background: url('/static/images/delete.svg') no-repeat center center;
        background-size: contain;                  
        width: 25px;
        height: 25px; 
        cursor: pointer;
        margin-right: 10px;
    }
    .modify_button{
        display: inline-block;
        background: url('/static/images/pen.svg') no-repeat center center;
        background-size: contain;                  
        width: 25px;
        height: 25px; 
        cursor: pointer;
        margin-right: 5px;
    }

   

</style>

<div class="title-container">
    <h1 class="title-text">Company and Furnace Management</h1>
</div>

<div style="height: 265px">

    <!-- Company -->
    <div style="display: flex; align-items: center;">
        <strong style="margin-right: 10px;">Company:</strong>
        <select id="companySelect" onchange="loadFurnaces()" style="flex-grow: 1; padding: 5px; border: 1px solid #ccc; border-radius: 5px;">
            <option value="">Select a company</option>
            {% for company in companies %}
                <option value="{{ company.id }}">{{ company.name }}</option>
            {% endfor %}
        </select>
        <span style="float: right;">
            <button onclick="openAddModifyPopup('Company','Add',null,null)" class="add_button" id="addCompanyButton"></button>
            <button onclick="openAddModifyPopup('Company','Modify',null,null)" class="modify_button" id="modifyCompanyButton"></button>
            <button onclick="deleteCompany()" class="delete_button" id="deleteCompanyButton"></button>
        </span>
    </div>

    <!-- Furnace -->
    <table id="furnaceTable" class="table-calibration" style="margin-top: 5px; width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border-bottom: 2px solid #333; padding: 10px;">Furnace Name
                    
                </th>
                <th style="border-bottom: 2px solid #333; padding: 10px;">Actions
                    <span style="float: right;">
                        <button onclick="openAddModifyPopup('Furnace','Add',null,null)" class="add_button" id="addFurnaceButton"></button>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody id="furnaceList">
            <!-- Furnaces will be loaded here -->
        </tbody>
    </table>
</div>

<!-- Popup for adding/modify company or furnace -->
<div id="addModifyPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closeAddModifyPopup()">&times;</span>
        <h2 id="popupTitle">Add</h2>
        <form id="addModifyForm">
            <label for="newName">Name:</label>
            <input type="text" id="newName" name="newName" required>
            <button type="submit" id="submitButton">Save</button>
        </form>
    </div>
</div>


<script>
    
    window.onload = function() {
        animationOfActionButtons();
    };
    function animationOfActionButtons() {

        var companyId = document.getElementById("companySelect").value;
        if (companyId) {

            // Company seçiliyse Modify ve Delete butonlarını göster
            document.getElementById('addFurnaceButton').style.display = "inline-block";
            document.getElementById('modifyCompanyButton').style.display = "inline-block";
            document.getElementById('deleteCompanyButton').style.display = "inline-block";
        }
        else{
            // Company seçili değilse Modify ve Delete butonlarını gizle
            document.getElementById('addFurnaceButton').style.display = "none";
            document.getElementById('modifyCompanyButton').style.display = "none";
            document.getElementById('deleteCompanyButton').style.display = "none";
        } 
    }
    function loadFurnaces() {
        animationOfActionButtons();

        var companyId = document.getElementById("companySelect").value;
        var furnaceList = document.getElementById("furnaceList");
        furnaceList.innerHTML = ""; // Clear the current furnace list
        
        if (companyId) {
            var furnaces = JSON.parse('{{ furnaces|tojson|safe }}');
            var selectedFurnaces = furnaces.filter(furnace => furnace.company_id == companyId);
    
            if (selectedFurnaces.length > 0) {
                selectedFurnaces.forEach(furnace => {
                    var row = document.createElement("tr");
                    var cell = document.createElement("td");
                    cell.textContent = furnace.name;
                    cell.style.padding = "10px";
                    row.appendChild(cell);


                    // Create and populate the second column with buttons (Modify and Delete)
                    var buttonCell = document.createElement("td");

                    var modifyButton = document.createElement("button");
                    modifyButton.className = "modify_button";
                    modifyButton.onclick = function() {
                        openAddModifyPopup('Furnace','Modify',furnace.id, furnace.name);
                    };       

                    buttonCell.appendChild(modifyButton);

                    var deleteButton = document.createElement("button");
                    deleteButton.className = "delete_button";
                    deleteButton.onclick = function() {
                        deleteFurnace(furnace.id);
                    };
                    buttonCell.appendChild(deleteButton);
                    row.appendChild(buttonCell);

                    furnaceList.appendChild(row);
                });

            } else {
                var row = document.createElement("tr");
                var cell = document.createElement("td");
                cell.textContent = "No furnaces found for this company";
                cell.style.padding = "10px";
                row.appendChild(cell);
                furnaceList.appendChild(row);

            }
        }

    }

    

    function openAddModifyPopup(entityType, actionType, furnaceId, furnaceName) {
        var addModifyPopup = document.getElementById("addModifyPopup");
        var popupTitle = document.getElementById("popupTitle");
        var newNameInput = document.getElementById("newName");
        var submitButton = document.getElementById("submitButton");
    
        newNameInput.value = "";
    
        if (entityType === "Furnace") {
            popupTitle.textContent = actionType === "Add" ? "Add Furnace" : "Modify Furnace";
            submitButton.textContent = actionType === "Add" ? "Add" : "Save Changes";
            newNameInput.value = actionType === "Modify" ? furnaceName : "";
        } else if (entityType === "Company") {
            var selectedText = document.getElementById("companySelect").options[document.getElementById("companySelect").selectedIndex].text;
            popupTitle.textContent = actionType === "Add" ? "Add Company" : "Modify Company";
            submitButton.textContent = actionType === "Add" ? "Add" : "Save Changes";
            newNameInput.value = actionType === "Modify" ? selectedText : "";
        }
    
        addModifyPopup.style.display = "block";
    
        var addModifyForm = document.getElementById("addModifyForm");
        addModifyForm.onsubmit = function(event) {
            event.preventDefault(); // Default form submission'u engelle
    
            var formData = {};
            var endpoint = '';
    
            if (entityType === "Furnace") {
                id = actionType === "Add" ? document.getElementById("companySelect").value : furnaceId ;
                formData = {
                    furnaceName: newNameInput.value,
                    Id: id
                };
                endpoint = actionType === "Add" ? '/add_furnace' : '/modify_furnace';
            } else if (entityType === "Company") {
                formData = {
                    companyName: newNameInput.value,
                    companyId: document.getElementById("companySelect").value
                };
                endpoint = actionType === "Add" ? '/add_company' : '/modify_company';
            }
    
            submitFormData(endpoint, formData);
        };
    }
    
    function submitFormData(endpoint, formData) {
        fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.message);
            if(data.status === 'success') {
                window.location.reload();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        })
        .finally(() => {
            closeAddModifyPopup();
        });
    }
    

    function closeAddModifyPopup() {
        var addModifyPopup = document.getElementById("addModifyPopup");
        addModifyPopup.style.display = "none";
    }

    function deleteFurnace(furnaceId) {
        if(confirm('Are you sure you want to delete this furnace?')) {
            fetch('/delete_furnace/' + furnaceId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // CSRF token gerekiyorsa burada ekleyin
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                if(data.status === 'success') {
                    // İşlem başarılıysa, sayfayı yenileyin veya DOM'dan ilgili satırı kaldırın
                    window.location.reload();                    
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function deleteCompany() {        
        var companyId = document.getElementById("companySelect").value;
        var companyName = document.getElementById("companySelect").options[document.getElementById("companySelect").selectedIndex].text; // Get the name of the selected company
        if(confirm('Are you sure you want to delete the company "' + companyName + '"?')) {
            fetch('/delete_company/' + companyId, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // CSRF token gerekiyorsa burada ekleyin
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                if(data.status === 'success') {
                    // İşlem başarılıysa, sayfayı yenileyin veya DOM'dan ilgili satırı kaldırın
                    window.location.reload();                    
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
    }


</script>

