<!-- {% set get_logged_in_user = get_logged_in_user %} -->
<!DOCTYPE html>
<html>
<head>
    <script>
        function enterFullscreen() {
            var elem = document.documentElement;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) {  /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='JavaScript/socket_connection.js') }}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toogle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="mainabove-container">
            <form method="get" action="{{ url_for('main.mainmenu') }}">
                <button type="submit" class="custom-button">
                    Eagleye AGA / {{ get_logged_in_user() }}
                </button>
                <a href="#" class="custom-back-button" onclick="history.go(-1); return false;">
                    <img src="{{ url_for('static', filename='images/back.svg') }}">
                </a>
            </form>
        </div>
        <div class="mainbottom-container">