<!-- {% set get_logged_in_user = get_logged_in_user %} -->
<!DOCTYPE html>
<html>
<head>
    <script>
        function enterFullscreen() {
            var elem = document.documentElement;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) {  /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        }
    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='JavaScript/socket_connection.js') }}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/board.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toogle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="mainabove-container">
            <form method="get" action="{{ url_for('main.mainmenu') }}">
                <button type="submit" class="custom-button">
                    Eagleye®AGA / #V1.0 
                    <!-- / {{ get_logged_in_user()[0] }} -->
                </button>
                <a href="#" class="custom-back-button" onclick="history.go(-1); return false;">
                    <img src="{{ url_for('static', filename='images/back.svg') }}">
                </a>
            </form>
            <div class="wifi-signal-container">
                <img id="wifi-icon" src="{{ url_for('static', filename='images/icon/wifi/wifi-full.svg') }}">
                
            </div>
            <div class="generallytime-screen">
                <span id="currentTimeDisplay"></span>
            </div>
            <div id =recordingIndicator class="recording-indicator">
                <span>R</span>
            </div>
        </div>
        
        <div  class="mainbottom-container">       
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                updateWifiSignalStrength()
            });
            function updateWifiSignalStrength(signalStrength) {
                var wifiIcon = document.getElementById('wifi-icon');
    
                // Sinyal gücüne göre uygun olan simgeyi seç
                var iconPath;
                if (signalStrength >= 75) {
                    iconPath = 'wifi-full.svg';
                } else if (signalStrength >= 50) {
                    iconPath = 'wifi-high.svg';
                } else if (signalStrength >= 25) {
                    iconPath = 'wifi-medium.svg';
                } else if (signalStrength > 0) {
                    iconPath = 'wifi-low.svg';
                } else {
                    iconPath = 'wifi-ultra-low.svg';
                }
    
                // Resmi güncelle
                wifiIcon.src = "{{ url_for('static', filename='images/icon/wifi/') }}" + iconPath;
            }

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

            socket.on('data', function(data) {
                var isRecording = data.isRecording;
                var currentTime = data.currentTime;
                var indicator = document.getElementById('recordingIndicator');
                var timeDisplay = document.getElementById('currentTimeDisplay'); // Şu anki zamanı gösterecek bir HTML elementi
            
                //console.log('Is recording:', isRecording, 'Current time:', currentTime);
            
                if (isRecording) {
                    indicator.style.display = 'flex';
                } else {
                    indicator.style.display = 'none';
                }
            
                // Zamanı güncelle
                if (timeDisplay) {
                    timeDisplay.innerText = currentTime;
                }
            });
            
        </script>