{% include 'header.html' %}
    <!-- <title>Info</title> -->
            <!-- <h1 class="title-text">Info</h1> -->
            <div></div>
            <div class="info-image">
                <img src="/static/images/3Eindustry.png" alt="3E Logo">
                <div>
                    <p>3E INDUSTRIAL ENGINEERING COMPANY</p>
                    <p>TUBITAK Gebze Campus Technology Development Zone</p>
                    <p>R&D and Innovation Center D Block Floor:2 Door No:51</p>
                    <p>Gebze/KOCAELI</p>
                    <p>Phone: +90 262 658 98 40</p>
                    <p>Phone: +90 850 840 00 33</p>
                    <p>Fax:   +90 216 290 54 92</p>
                    <p>Gsm:   +90 543 233 40 26</p>
                    <p>Mail:  info@3eendustriyel.com.tr</p>
                </div>
            </div>
            <div class="generally-footer">
                <footer>
                    <div>User: {{ get_logged_in_user()[0] }} Role: {{ get_logged_in_user()[1] }} </div>
                </footer>
            </div>
            <div class="generally-V-footer">
                <footer>
                    <div>#V1.0</div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>
