{% include 'header.html' %}
    <title>Operation Record</title>

            <h1 class="title-text">Record</h1>
            <div class="record-label-container">
                <div>
                    <label class=" record-label-livedata" for="operationName">Operation Name</label>
                    <input class=" record-container-input" type="text" id="operationName" value="{{ operation.name }}" placeholder="Operation Name" onclick="openNumpad('operationName')">
                    <div style="margin-bottom: 1rem;"></div>
                    <label class=" record-label-livedata">Start</label>
                    <input class=" record-container-input" type="datetime-local" id="startDateTime" value="{{ operation.start_date.strftime('%Y-%m-%d %H:%M:%S') if operation.start_date else '' }}">
                    <div style="margin-bottom: 1rem;"></div>
                    <label class=" record-label-livedata">Company</label>
                    <input class=" record-container-input" type="text" id="company" value="{{ operation.company }}" autocomplete="off" placeholder="Company" onclick="openNumpad('company')">
                    <div style="margin-bottom: 1rem;"></div>
                    <label class=" record-label-livedata">Operator</label>
                    <input class=" record-container-input" type="text" id="operator" readonly="True" 
                            {% if operation_id == 0 or not operation %}
                                value="{{ get_logged_in_user()[0] }}"
                            {% else %}
                                value="{{ operation.operator }}"
                            {% endif %}
                            placeholder="Operator Information">
                </div>
            </div>
            <div class="generally-footer">
                <footer>
                    <div>User: {{ get_logged_in_user()[0] }} Role: {{ get_logged_in_user()[1] }} </div>
                    <!-- <div>#V1.0</div> -->
                </footer>
            </div>
            <div class="record-labelright-container"> 
                <button id="playStopButton" class="play-stop-button">
                    <i class="fas fa-play"></i>
                </button>
                <div id="exportButtons">
                    <div style="margin-left: 1rem;"></div>
                    <a id="getHistoryChart" href="{{ url_for('main.history_chart', operation_id=operation.id) if operation else '#' }}">
                        <i class="fas fa-chart-line"></i>
                    </a>
                    <div style="margin-left: 1rem;"></div>
                    <a id="importExcel" href="{{ url_for('main.export_data', operation_id=operation.id) if operation else '#' }}">
                        <i class="fas fa-file-export"></i>
                    </a>
                </div>
                <div style="margin-bottom: 1rem;"></div>
                <label class=" record-label-livedata">End</label>
                <input class=" record-container-input" type="datetime-local" id="stopDateTime" value="{{ operation.stop_date.strftime('%Y-%m-%d %H:%M:%S') if operation.stop_date else '' }}">
                <div style="margin-bottom: 1rem;"></div>
                <label class=" record-label-livedata">Furnace</label>
                <input class=" record-container-input" type="text" id="furnace" value="{{ operation.furnace }}" placeholder="Furnace" onclick="openNumpad('furnace')">
                <div style="margin-bottom: 1rem;"></div>
                <button class= 'save-button' id="saveButton">
                    <i class="fas fa-save" ></i>
                </button>
                <div style="margin-bottom: 1rem;"></div>
            </div>
        </div>
        <input type="hidden" id="operationId" value="{{ operation.id }}">     
    </div>
    <div id="keyboardContainer" class="popup"></div>
    <script>
        const operationId = document.getElementById('operationId').value; // Operasyon ID'sini al
        
        function updateButtonIcon() {

            const startDateTimeValue = document.getElementById('startDateTime').value;
            const stopDateTimeValue = document.getElementById('stopDateTime').value;
            const playStopButton = document.getElementById('playStopButton');
            const exportButtons = document.getElementById('exportButtons');
            const operationWorking = JSON.parse('{{ operationWorking|safe }}');
            //const operationWorking = {{ operationWorking }};
            
           // Start ve End Date boş ise Play butonu gözükecek, export'lar gözükmeyecek
            if (!startDateTimeValue && !stopDateTimeValue) {
                playStopButton.style.display = 'block';
                playStopButton.innerHTML = '<i class="fas fa-play"></i>'; // Play ikonu
                exportButtons.style.display = 'none';
                
            }
            // Start Date varsa ve End Date varsa, Play-Stop butonu gözükmeyecek, export butonu gözükecek
            else if (startDateTimeValue && stopDateTimeValue) {
                playStopButton.style.display = 'none';
                exportButtons.style.display = 'flex';
            }
            // Start Date varsa ve End Date yoksa, Stop butonu gözükecek ve export butonu gözükmeyecek
            else if (startDateTimeValue && !stopDateTimeValue) {
                playStopButton.style.display = 'block';
                playStopButton.innerHTML = '<i class="fas fa-stop"></i>'; // Stop ikonu
                exportButtons.style.display = 'none';
            }

            if(operationWorking==1 && !(startDateTimeValue && !stopDateTimeValue)){
                playStopButton.style.display = 'none';
            }
        }

        function toggleRecording(isRecording) {
            fetch('/start_stop_recording', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ isRecording: isRecording }),
            })
            .then(response => response.json())
            .then(data => console.log(data.message))
            .catch(error => console.error('Error:', error));
        }

        function getFormattedDateTime() {
            const now = new Date();
            const year = now.getFullYear();
            const month = String(now.getMonth() + 1).padStart(2, '0'); // JavaScript'te aylar 0'dan başlar
            const day = String(now.getDate()).padStart(2, '0');
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
        }

        playStopButton.addEventListener('click', function() {     
            var name = document.getElementById('operationName').value;     
            if(name)
            {
                if (this.children[0].classList.contains('fa-play')) {
                    this.innerHTML = '<i class="fas fa-stop"></i>';
                    if (!startDateTime.value) {
                        startDateTime.value = getFormattedDateTime(); 
                        toggleRecording(1)
                    }                
                } else {
                    this.innerHTML = '<i class="fas fa-play"></i>';
                    stopDateTime.value = getFormattedDateTime(); 
                    toggleRecording(0)
                }
                
                updateButtonIcon()
                const operationData = {
                    id: operationId, // ID'yi de veriye dahil et
                    name: document.getElementById('operationName').value,
                    company: document.getElementById('company').value,
                    furnace: document.getElementById('furnace').value,
                    operator: document.getElementById('operator').value,
                    start_date: document.getElementById('startDateTime').value,
                    stop_date: document.getElementById('stopDateTime').value
                };
    
                fetch('/update_or_insert_operation', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(operationData),
                })
                .then(response => response.json())
                .then(data => {
                    if(data.status === 'success') {
                        console.log(data.message);
                        // İşlem başarılı olduğunda /Operation sayfasına yönlendir
                        window.location.href = `/operation/${data.operation_id}`;
                    } else {
                        console.error(data.message);
                        // Hata mesajını işleme, burada bir hata mesajı gösterilebilir
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });    
            }
            else{
                alert('Operation name cannot be empty.');
            }
            
        });

        document.addEventListener('DOMContentLoaded', updateButtonIcon);
        //Date alanındaki değişiklikleri izle ve buton ikonunu güncelle
        startDateTime.addEventListener('change', updateButtonIcon);
        stopDateTime.addEventListener('change', updateButtonIcon);
        

        document.getElementById('saveButton').addEventListener('click', function() {           
            
            const operationData = {
                id: operationId, // ID'yi de veriye dahil et
                name: document.getElementById('operationName').value,
                company: document.getElementById('company').value,
                furnace: document.getElementById('furnace').value,
                operator: document.getElementById('operator').value,
                start_date: document.getElementById('startDateTime').value,
                stop_date: document.getElementById('stopDateTime').value
            };
            // Sunucuya istek gönder
            fetch('/update_or_insert_operation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(operationData),
            })
            .then(response => response.json())
            .then(data => {
                if(data.status === 'success') {
                    console.log(data.message);
                    // İşlem başarılı olduğunda /Operation sayfasına yönlendir
                    window.location.href = '/Operation';
                } else {
                    console.error(data.message);
                    // Hata mesajını işleme, burada bir hata mesajı gösterilebilir
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }); 
        
        function openNumpad(inputId) {
            document.getElementById("keyboardContainer").innerHTML = `{% include 'keyboard.html' %}`;
            const inputField = document.getElementById(inputId);
            const labelField = document.getElementById("keyboardLabel"); 
            labelField.textContent = inputField.value;
            let isLabelCleared = true;
            
            document.querySelectorAll('.keyboard .key').forEach(key => {
                key.addEventListener('click', function () {
                    const value = key.textContent;
                    key.classList.add("clicked");

                    if (inputField.value.charAt(0) === '0') {
                        inputField.value = inputField.value.slice(1);3
                    }

                    if(!(value =="Enter" || value =="Space"|| value =="Clear" )){ // || value =="X"
                        if (isLabelCleared) {
                            labelField.textContent = ''; 
                            isLabelCleared = false; 
                        }
                        labelField.textContent += value;
                    }
                    setTimeout(function () {
                        key.classList.remove("clicked");
                    }, 50);
                                            
                });
            });
            document.querySelector('.keyboard .space').addEventListener('click', function () {
                const labelField = document.getElementById("keyboardLabel"); 
                const new_value = labelField.textContent;
                const inputField = document.getElementById(inputId);
                const input_id = inputField.id;
                if(input_id === 'operationName' ){
                    console.log(input_id)
                    labelField.textContent += ' ';
                }else if(input_id === 'company'){
                    labelField.textContent += ' ';
                }else if(input_id === 'furnace'){
                    labelField.textContent += ' ';
                }
            });

            document.querySelector('.keyboard .close').addEventListener('click', function () {
                document.getElementById("keyboardContainer").style.display = "none";
            });

            
            document.querySelector('.keyboard .enter').addEventListener('click', function () {
                numpadInputCompleted = true;
                const labelField = document.getElementById("keyboardLabel"); 
                const new_value = labelField.textContent;
                const inputField = document.getElementById(inputId);
                const input_id = inputField.id;

                if(input_id === 'operationName' ){
                    inputField.value = labelField.textContent;
                }else if(input_id === 'company'){
                    inputField.value = labelField.textContent;
                }else if(input_id === 'furnace'){
                    inputField.value = labelField.textContent;
                }
                if (new_value === '0' || input_id.value === '0') {
                    inputField.value ='0';
                }

                document.getElementById("keyboardContainer").style.display = "none";
                isLabelCleared = false;
            });
            
            document.querySelector('.keyboard .keyboardclear').addEventListener('click', function () {
                labelField.textContent = '0';
                const new_value = labelField.textContent;
                const input_id = inputField.value;
            });
            document.getElementById("keyboardContainer").style.display = "block";
        }
        function closeKeyboard() {
            document.getElementById("keyboardContainer").style.display = "none";
        }
    </script>
</body>
</html>
