{% include 'header.html' %}
    <title>Operation</title>

            <div class="title-container">
                <h1 class="title-text">Operation</h1>
                <a href="{{ url_for('main.operation_detail', operation_id=0) }}" class="add-operation-icon">
                </a>
            </div>
            <div>            
                
                <div style ="height: 265px">                
                    <table class="table-calibration" style="padding: -10px 0px 0px 0px">
                        <thead>
                            <tr class="bg-gray-200 text-left">
                                <th class="px-4 py-2 hidden-id">Id</th>
                                <th class="px-4 py-2">Name</th>
                                <th class="px-4 py-2">Company</th>
                                <th class="px-4 py-2">Furnace</th>
                                <th class="px-4 py-2">Operator</th>
                                <th class="px-4 py-2">Start date</th>
                                <th class="px-4 py-2">Stop date</th>
                                <th class="px-4 py-2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operation in operations %}
                            <tr>
                                <td class="hidden-id">{{ operation.id }}</td>
                                <td>{{ operation.name }}</td>
                                <td>{{ operation.company }}</td>
                                <td>{{ operation.furnace }}</td>
                                <td>{{ operation.operator }}</td>
                                <td>{{ operation.start_date.strftime('%Y-%m-%d %H:%M') if operation.start_date else '-' }}</td>
                                <td>{{ operation.stop_date.strftime('%Y-%m-%d %H:%M') if operation.stop_date else '-' }}</td>
                                <td>                                  
                                    <a href="/operation/{{ operation.id }}" class="text-blue-500 mr-2">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="text-red-500" onclick="deleteOperation('{{ operation.id }}')">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>                
                <div class="pagination">
                    {% if pagination.has_prev %}
                        <a href="{{ url_for('main.Operation', page=pagination.prev_num) }}" class="flex items-center">
                            <i class="fas fa-arrow-left mr-2"></i>
                        </a>
                    {% endif %}
                    <!-- Sayfa numaraları -->
                    {% for page in range(1, pagination.pages + 1) %}
                        <a href="{{ url_for('main.Operation', page=page) }}" class="{{ 'active' if page == pagination.page else '' }}">
                            {{ page }}
                        </a>
                    {% endfor %}
                    {% if pagination.has_next %}
                        <a href="{{ url_for('main.Operation', page=pagination.next_num) }}" class="flex items-center">
                            <i class="fas fa-arrow-right ml-2"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="operation-footer">
                <footer>
                    <div>User: {{ get_logged_in_user()[0] }} Role: {{ get_logged_in_user()[1] }} </div>
                    <!-- <div>#V1.0</div> -->
                </footer>
            </div>
        </div>
    </div>
    <script>
        function deleteOperation(operationId) {
            if(confirm('Are you sure you want to delete this operation?')) {
                fetch('/delete_operation/' + operationId, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    // CSRF token gerekiyorsa burada ekleyin
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if(data.status === 'success') {
                        // İşlem başarılıysa, sayfayı yenileyin veya DOM'dan ilgili satırı kaldırın
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }
        </script>
        
</body>
</html>
