{% include 'header.html' %}
<title>Set Time</title>
<h1 class="title-text">Set Time</h1>
<body>
    <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'manualTab')" id="defaultOpen">Manuel</button>
    <button class="tablinks" onclick="openCity(event, 'autoTab')">Auto</button>
    </div>

    <div id="manualTab" class="tabcontent">
        <form class="settime-form" action="{{ url_for('main.SetTime') }}" method="post">

            <label class=" record-label-livedata" for="manualDateTime">Manual Date and Time</label>
            <input class=" record-container-input" type="datetime-local" id="manualDateTime" name="manualDateTime" required>

            <button type="submit">Set Manual Time</button>
        </form>
    </div>

    <div id="autoTab" class="tabcontent">
        <form class="settime-form" action="{{ url_for('main.SetTime') }}" method="post">
            <!-- Add auto time and date input fields -->
            <label class=" record-label-livedata" for="autoTimezone">Timezone</label>
            <select class=" wifi-container-input" id="autoTimezone" name="autoTimezone" required>
                {% for timezone in timezones %}
                    <option value="{{ timezone[0] }}"{% if user_timezone == timezone[0] %} selected {% endif %}>{{ timezone[1] }}</option>
                {% endfor %}
            </select>
    
            <button type="submit" onclick="setAutoTime()">Set Auto Time</button>
        </form>
    </div>
    <div class="generally-footer">
        <footer>
            <div>User: {{ get_logged_in_user()[0] }} Role: {{ get_logged_in_user()[1] }} </div>
            <!-- <div>#V1.0</div> -->
        </footer>
    </div>
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            }

        document.getElementById("defaultOpen").click();

        function setAutoTime() {
            var localTime = new Date();
            var utcTime = localTime.toISOString();
            var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

            $.ajax({
                type: 'POST',
                url: '/update_timezone',
                data: { utcTime: utcTime, timezone: timezone },
                success: function(response) {
                    console.log('Başarıyla gönderildi');
                },
                error: function(error) {
                    console.log('Hata oluştu: ' + error);
                }
            });
        }
    </script>
   
</body>
</html> 
