<!DOCTYPE html>
<html>
<head>
    <script>
        function enterFullscreen() {
            var elem = document.documentElement;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) {  /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        }
    </script>
    <title>Live Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="mainabove-container">
            <!-- <a href="/logout">çıkış yap</a> -->
            <form method="get" action="/logout">
                <button type="submit" class="custom-button">
                    Eagleye AGA
                </button>
                <a href="#" class="custom-back-button" onclick="history.go(-1); return false;">
                    <img src="/static/images/back.svg">
                </a>
            </form>
        </div>
      
        <div class="mainbottom-container">
            <h1 class="title-text">Live Data</h1>
            <div class="label-container">
                <label class=" form-group lvedta-label" for="input1">%CO
                    <input type="text" id="input1" name="input1" readonly="True">
                </label>

                

                <label class="form-group lvedta-label" for="input2">%CO2
                    <input type="text" id="input2" name="input2" readonly="True">
                </label>

                <label class="form-group lvedta-label" for="input3">%CH4
                    <input type="text" id="input3" name="input3" readonly="True">
                </label>

                <hr class="custom-hr"> <!-- Özelleştirilmiş HR etiketi -->
                
                <label class="form-group lvedta-label" for="input5">C(%)
                    <input type="text" id="input5" name="input5" readonly="True">
                </label>

                <label class="form-group lvedta-label" for="input6">O2(mV)
                    <input type="text" id="input6" name="input6" readonly="True">
                </label>
            </div>
            <div class="labelright-container">
                <form method="POST" action="{{ url_for('abc') }}">

                    <div id="keyboardContainer" class="popup"></div>
                    {% for data in all_data %}
                    <label class="form-group" for="input7">Temperature
                        <input type="text" id="input7" name="input7" value="{{ data.Temperature }}" onclick="openKeyboard('input7')">
                    </label>
                    
                    <label class="form-group" for="input8">CH4 Factor(%)
                        <input type="text" id="input8" name="input8" value="{{ data.CH4Factor }}" onclick="openKeyboard('input8')">
                    </label>

                    <label class="form-group" for="input9">Alloy Factor(%)
                        <input type="text" id="input9" name="input9" value="{{ data.AlloyFactor }}" onclick="openKeyboard('input9')">
                    </label>

                    <label class="form-group" for="input10"> %H2
                        <input type="text" id="input10" name="input10" value="{{ data.H2 }}" onclick="openKeyboard('input10')">
                    </label>
                    {% endfor %}
                    <hr class="custom-hr"> <!-- Özelleştirilmiş HR etiketi -->

                    <label class="form-group lvedta-label" for="input11">H2O(%)
                        <input type="text" id="input11" name="input11" readonly="True">
                    </label>

                    <label class="form-group lvedta-label" for="input12">Dew(°C)
                        <input type="text" id="input12" name="input12" readonly="True">
                    </label>

                    <script>
                        function openKeyboard(inputId) {
                            // Klavye içeriğini keyboardContainer'a ekleyin
                            document.getElementById("keyboardContainer").innerHTML = `{% include 'numpad.html' %}`;
                            
                            // Belirtilen input alanına değeri ekle
                            const inputField = document.getElementById(inputId);
                            const labelField = document.getElementById("numpadLabel"); // Yeni eklenen label
                            labelField.textContent = inputField.value;
                            let isLabelCleared = true;

                            // Her tuşa tıklandığında ilgili inputa değeri ekle
                            document.querySelectorAll('.numpad .key').forEach(key => {
                                key.addEventListener('click', function () {
                                    const value = key.textContent;
                                    key.classList.add("clicked");

                                    if(!(value =="Enter" || value =="Space"|| value =="Clear" || value =="X")){
                                        if (isLabelCleared) {
                                            inputField.value = '';
                                            labelField.textContent = ''; // Numpad label'ını temizle
                                            isLabelCleared = false; // Bayrağı sıfırla
                                        }
                                        inputField.value += value;  
                                        labelField.textContent += value;
                                    }
                                    setTimeout(function () {
                                        key.classList.remove("clicked");
                                    }, 50);
                                                              
                                });
                                
                            });

                            // Space tuşuna basıldığında
                            // document.querySelector('.keyboard .space').addEventListener('click', function () {
                            //     document.getElementById(inputId).value += ' ';
                            // });

                            // Enter tuşuna basıldığında
                            document.querySelector('.numpad .close').addEventListener('click', function () {
                                // İsterseniz burada enter'a basıldığında yapılacak işlemleri ekleyebilirsiniz
                                // Örneğin bir form submit işlemi gibi
                                document.getElementById("keyboardContainer").style.display = "none";
                            });
                    
                            // Enter tuşuna basıldığında
                            document.querySelector('.numpad .enter').addEventListener('click', function () {
                                // İsterseniz burada enter'a basıldığında yapılacak işlemleri ekleyebilirsiniz

                                const labelField = document.getElementById("numpadLabel"); 
                                const new_value = labelField.textContent;
                                const inputField = document.getElementById(inputId);
                                const input_id = inputField.name;
                                
                                console.log('inputField:', input_id);
                                console.log('labelField:', new_value);

                                if (input_id && new_value) {
                                    // AJAX isteği ile Flask endpoint'ını çağır
                                    fetch('/update_data', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                            input_id: input_id,  // Güncellenmesi istenen input alanının ID'si
                                            new_value: new_value,
                                        }),
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        // İsteğin başarılı olması durumunda yapılacak işlemler
                                        console.log(data);
                                    })
                                    .catch(error => {
                                        // İstekte hata olması durumunda yapılacak işlemler
                                        console.error('Error:', error);
                                    });
                                } else {
                                    console.error('Invalid inputIdchange.');
                                }
                                // Örneğin bir form submit işlemi gibi
                                document.getElementById("keyboardContainer").style.display = "none";
                                isLabelCleared = false;
                            });
                            
                            // "Clear" tuşuna basıldığında yapılacak işlemler
                            document.querySelector('.numpad .clear').addEventListener('click', function () {
                                //const inputId = "input-field"; // Buradaki inputId değerini kendi kullanımınıza göre değiştirin
                                inputField.value = '0'; // Input alanını temizle
                                labelField.textContent = '';
                            });
                    
                            // Pop-up'ı görünür yap
                            document.getElementById("keyboardContainer").style.display = "block";
                        }
                    
                        function closeKeyboard() {
                            // Pop-up'ı gizle
                            document.getElementById("keyboardContainer").style.display = "none";
                        }

                    </script>
                </form>
            </div>
            
        </div>
    </div>
    
    
</body>
</html>
