<!-- <!doctype html>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1 class="custom-text">eagleye aga</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message, category in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
        {% endwith %}
        <form method="post"> -->
            <!-- kullanıcı adı ve şifre girişi alanları -->
            <!-- <input type="text" name="username" placeholder="username" /><br>
            <input type="password" name = "password" placeholder="password" /><br>
            <button type="submit">login</button>
        </form>
    </div>
</body>
</html> -->