<!DOCTYPE html>
<html>
<head>
    <script>
        function enterFullscreen() {
            var elem = document.documentElement;
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) {  /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        }
    </script>
    <title>Live Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toogle.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script> 
    <script src="{{ url_for('static', filename='JavaScript/socket_connection.js') }}"></script> 

</head>
<body>
    
    <div class="container">
        <div class="mainabove-container">
            <!-- <a href="/logout">çıkış yap</a> -->
            <form method="get" action="/logout">
                <button type="submit" class="custom-button">
                    Eagleye AGA
                </button>
                <a href="#" class="custom-back-button" onclick="history.go(-1); return false;">
                    <img src="/static/images/back.svg">
                </a>
            </form>
        </div>
      
        <div class="mainbottom-container">
            <h1 class="title-text">Live Data</h1>
            <div class="label-container">
                <label class=" label-livedata" for="CO_value">%CO
                    <input type="text" id="CO_value" name="CO_value" readonly="True">
                </label>

                <label class="label-livedata" for="CO2_value">%CO2
                    <input type="text" id="CO2_value" name="CO2_value" readonly="True">
                </label>

                <label class="label-livedata" for="CH4_value">%CH4
                    <input type="text" id="CH4_value" name="CH4_value" readonly="True">
                </label>
                
                <hr class="custom-hr"> <!-- Özelleştirilmiş HR etiketi -->
                
                <label class="label-livedata" for="input5">C(%)
                    <input type="text" id="input5" name="input5" readonly="True">
                </label>

                <label class="label-livedata" for="input6">O2(mV)
                    <input type="text" id="input6" name="input6" readonly="True">
                </label>
            </div>
            <div class="labelright-container">
                <form method="POST" action="{{ url_for('livedata') }}">

                    <div id="keyboardContainer" class="popup"></div>
                    
                    {% for data in all_data %}
                    <label class="label-livedata-unforbidden" for="input7">
                        <label class="toggle">
                            <input type="checkbox" id="myToggle">
                            <span class="labels" data-on="°F" data-off="°C"></span>
                        </label>
                        <input class="input-livedata" type="text" id="input7" class="common-input" name="input7" required value="0" onclick="openKeyboard('input7')">
                    </label>
                    
                    <label class="label-livedata-unforbidden" for="input8">CH4 Factor(%)
                        <input class="input-livedata" type="text" id="input8" class="common-input" name="input8" required value="0" onclick="openKeyboard('input8')">
                    </label>

                    <label class="label-livedata-unforbidden" for="input9">Alloy Factor(%)
                        <input class="input-livedata" type="text" id="input9" class="common-input" name="input9" required value="0" onclick="openKeyboard('input9')">
                    </label>

                    <label class="label-livedata-unforbidden" for="input10"> %H2
                        <input class="input-livedata" type="text" id="input10" class="common-input" name="input10" required value="0" onclick="openKeyboard('input10')">
                    </label>
                    {% endfor %}
                    <hr class="custom-hr"> <!-- Özelleştirilmiş HR etiketi -->

                    <label class="label-livedata" for="input11">H2O(%)
                        <input type="text" id="input11" name="input11" readonly="True">
                    </label>

                    <label class="label-livedata" for="input12">Dew(°C)
                        <input type="text" id="input12" name="input12" readonly="True">
                    </label>

                    <script>
                        // var programStarted = false;
                        var input1Value, input2Value, input3Value;
                        document.addEventListener('DOMContentLoaded', function() {
                            // Sayfa yüklendiğinde çalışacak kodlar
                            
                            // Sayfa yüklendiğinde toggle switch durumunu al
                            const toggleStatusFromServer = "{{ toggle_status }}";

                            // Toggle'ı duruma göre ayarla
                            const togglememory = document.getElementById('myToggle');
                            if (toggleStatusFromServer === 'F') {
                                // Eğer toggle switch "F" ise
                                togglememory.checked = true;
                            } else {
                                // Eğer toggle switch "C" ise
                                togglememory.checked = false;
                            }
                            
                            // Input elementini seç
                            const temp = document.getElementById('input7');
                            // console.log('tempfirst:', temp.value);

                            // Toggle elementini seç
                            const toggle = document.querySelector('.toggle input');

                            // Toggle durumu değiştiğinde çalışacak fonksiyon
                            toggle.addEventListener('change', function() {
                                // Toggle'ın durumuna göre input değerini güncelle
                                if (toggle.checked) {
                                    temp.value = (((parseFloat(temp.value) * 9) / 5) + 32).toFixed(1);
                                    console.log('Toggle is checked. fahrenheit:', temp.value);

                                    // Veritabanına göndermek için JSON nesnesi oluştur
                                    const dataToSend = {
                                        input_id: 'input7',
                                        new_value: temp.value,
                                        toggle_status: 'F',
                                    };

                                    // Eğer TempUnit değeri için bir değer belirlenmemişse, varsayılan bir değer atayın
                                    if (dataToSend.toggle_status === 'F' && !dataToSend.TempUnit) {
                                        dataToSend.TempUnit = 'F'; // veya başka bir varsayılan değer
                                    }

                                    sendToServer(dataToSend);

                                } else {
                                    temp.value = (((parseFloat(temp.value) - 32) * 5) / 9).toFixed(1);
                                    console.log('Toggle is not checked. celcius:', temp.value);

                                    // Veritabanına göndermek için JSON nesnesi oluştur
                                    const dataToSend = {
                                        input_id: 'input7',
                                        new_value: temp.value,
                                        toggle_status: 'C',
                                    };

                                    // Eğer TempUnit değeri için bir değer belirlenmemişse, varsayılan bir değer atayın
                                    if (dataToSend.toggle_status === 'C' && !dataToSend.TempUnit) {
                                        dataToSend.TempUnit = 'C'; // veya başka bir varsayılan değer
                                    }

                                    sendToServer(dataToSend);
                                    
                                }
                            });

                            //// Kalibrasyon sayfasındaki VALUE değerleri livedata sayfasında gösterilecek
                            
                           

                            function updateSensorData() {
                                input1Value = document.getElementById("CO_value").value;
                                input2Value = document.getElementById("CO2_value").value;
                                input3Value = document.getElementById("CH4_value").value;
                                if (togglememory.checked === false || toggle.checked === false) {
                                    //
                                    const e = 2.718281828;
                                    const C8 = (parseFloat(temp.value) + 273.15).toFixed(2);
                                    let log10K2 = -1 * (3.2673 - 8820.69 / C8 - 0.001208714 * C8 + 0.153734 * Math.pow(10, -6) * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                    let K2 = Math.pow(10, log10K2)
                                    let a = (((Math.pow(input1Value, 2) / input2Value) * K2) / 100);
                                    let Xc1 = a / (1.07 * Math.pow(e, (4798.6 / C8)));
                                    const alloy = document.getElementById('input9').value;
                                    let XcAF = a / (1.07 * alloy * Math.pow(10, (3751 / (C8 * 1.8 )))/100); 
                                    let CarbonAF = ((XcAF / (1 + 19.6 * XcAF))*100).toFixed(2);
                                    // Carbon //
                                    let Carbon = ((Xc1 / (1 + 19.6 * Xc1))*100).toFixed(2);
                                    const input5Element = document.getElementById("input5");
                                    if (isNaN(Carbon) || Carbon === '-Infinity' || Carbon === 'Infinity') {
                                        input5Element.value = '***';
                                    }
                                    else{
                                        input5Element.value = Carbon;
                                    }
                                    let Z3 = (0.0107 * Math.pow(e, (4798.6 / C8)));
                                    let AF3 = -(3.2673 - 8820.69/C8 - 0.001208714 * C8 + 0.153734 * 0.000001 * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                    let AC3 = 36.72508 - 3994.704 / C8 + 0.004462408 * C8 - 0.671814 * 0.000001 * Math.pow(C8, 2) - 12.220277 * (Math.log(C8) / Math.log(10));
                                    let AI3 = (Math.pow(10, AF3) * Math.pow(10, AC3));

                                    /////////////// AA3 te sonuç birebir çıkmadı, tekrar bakılacak ///////////////

                                    let AA3 = (alloy/100) * Z3 * (Carbon * 100)/100;   
                                    // console.log('AA3:', AA3);

                                    const H2variable = document.getElementById('input10').value;
                                    // H2O //
                                    let H20 = ((input1Value * H2variable / AA3 * AI3) / 100).toFixed(2); 
                                    const input11Element = document.getElementById("input11");
                                    if (isNaN(H20) || H20 === '-Infinity' || H20 === 'Infinity') {
                                        input11Element.value = '***';
                                    }
                                    else{
                                        input11Element.value = H20;
                                    }
                                    

                                    let AT31 = Math.pow(10, (2.9419064318711 - 13007.7694364901 / C8)) * H20 / H2variable; 
                                    let AT3 = Math.pow(AT31,2); 
                                    // O2 //   
                                    let O2 = (-0.0275 * C8 * 1.8 * (Math.log(AT3 / 0.209) / Math.log(10))).toFixed(2);
                                    const input6Element = document.getElementById("input6");
                                    if (isNaN(O2) || O2 === 'Infinity') {
                                        input6Element.value = '***';
                                    }
                                    else if (O2 === '-Infinity') {
                                        input6Element.value = '***';
                                    }
                                    else{
                                        input6Element.value = O2;
                                    }
                                    
                                    let AO3 = (4238.7/(6.3979 - (Math.log(H20/100) / Math.log(10)))) - 460;
                                    // Dew //   
                                    let AP3 = ((AO3 - 32) / 1.8).toFixed(2);
                                    const input12Element = document.getElementById("input12");
                                    if (isNaN(AP3) || AP3 === '-Infinity' || AP3 === 'Infinity') {
                                        input12Element.value = '***';
                                    }
                                    else{
                                        input12Element.value = AP3;
                                    }
                                }
                                else if(togglememory.checked === true || toggle.checked === true) {
                                    ///
                                    const e = 2.718281828;
                                    const C8 = (((parseFloat(temp.value) - 32) * 5) / 9 + 273.15).toFixed(2);
                                    let log10K2 = -1 * (3.2673 - 8820.69 / C8 - 0.001208714 * C8 + 0.153734 * Math.pow(10, -6) * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                    let K2 = Math.pow(10, log10K2)
                                    let a = (((Math.pow(input1Value, 2) / input2Value) * K2) / 100);
                                    let Xc1 = a / (1.07 * Math.pow(e, (4798.6 / C8)));
                                    const alloy = document.getElementById('input9').value;
                                    let XcAF = a / (1.07 * alloy * Math.pow(10, (3751 / (C8 * 1.8 )))/100); 
                                    let CarbonAF = ((XcAF / (1 + 19.6 * XcAF))*100).toFixed(2);
                                    // Carbon //
                                    let Carbon = ((Xc1 / (1 + 19.6 * Xc1))*100).toFixed(2);
                                    const input5Element = document.getElementById("input5");
                                    if (isNaN(Carbon) || Carbon === '-Infinity' || Carbon === 'Infinity') {
                                        input5Element.value = '***';
                                    }
                                    else{
                                        input5Element.value = Carbon;
                                    }
                                    let Z3 = (0.0107 * Math.pow(e, (4798.6 / C8)));
                                    let AF3 = -(3.2673 - 8820.69/C8 - 0.001208714 * C8 + 0.153734 * 0.000001 * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                    let AC3 = 36.72508 - 3994.704 / C8 + 0.004462408 * C8 - 0.671814 * 0.000001 * Math.pow(C8, 2) - 12.220277 * (Math.log(C8) / Math.log(10));
                                    let AI3 = (Math.pow(10, AF3) * Math.pow(10, AC3));

                                    /////////////// AA3 te sonuç birebir çıkmadı, tekrar bakılacak ///////////////

                                    let AA3 = (alloy/100) * Z3 * (Carbon * 100)/100;   
                                    // console.log('AA3:', AA3);

                                    const H2variable = document.getElementById('input10').value;
                                    // H2O //
                                    let H20 = ((input1Value * H2variable / AA3 * AI3) / 100).toFixed(2); 
                                    const input11Element = document.getElementById("input11");
                                    if (isNaN(H20) || H20 === '-Infinity' || H20 === 'Infinity') {
                                        input11Element.value = '***';
                                    }
                                    else{
                                        input11Element.value = H20;
                                    }
                                    

                                    let AT31 = Math.pow(10, (2.9419064318711 - 13007.7694364901 / C8)) * H20 / H2variable; 
                                    let AT3 = Math.pow(AT31,2); 
                                    // O2 //   
                                    let O2 = (-0.0275 * C8 * 1.8 * (Math.log(AT3 / 0.209) / Math.log(10))).toFixed(2);
                                    const input6Element = document.getElementById("input6");
                                    if (isNaN(O2) || O2 === 'Infinity') {
                                        input6Element.value = '***';
                                    }
                                    else if (O2 === '-Infinity') {
                                        input6Element.value = '***';
                                    }
                                    else{
                                        input6Element.value = O2;
                                    }
                                    
                                    let AO3 = (4238.7/(6.3979 - (Math.log(H20/100) / Math.log(10)))) - 460;
                                    // Dew //   
                                    let AP3 = ((AO3 - 32) / 1.8).toFixed(2);
                                    const input12Element = document.getElementById("input12");
                                    if (isNaN(AP3) || AP3 === '-Infinity' || AP3 === 'Infinity') {
                                        input12Element.value = '***';
                                    }
                                    else{
                                        input12Element.value = AP3;
                                    }
                                }
                            }
                            setInterval(updateSensorData, 1000);

                            document.querySelectorAll('.common-input').forEach(function(element) {
                                element.addEventListener('click', function() {
                                    document.querySelector('.numpad .enter').addEventListener('click', function () {
                                        openKeyboard('input7');
                                        
                                        if (togglememory.checked === false || toggle.checked === false) {
                                            //
                                            const e = 2.718281828;
                                            const C8 = (parseFloat(temp.value) + 273.15).toFixed(2);
                                            let log10K2 = -1 * (3.2673 - 8820.69 / C8 - 0.001208714 * C8 + 0.153734 * Math.pow(10, -6) * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                            let K2 = Math.pow(10, log10K2)
                                            let a = (((Math.pow(input1Value, 2) / input2Value) * K2) / 100);
                                            let Xc1 = a / (1.07 * Math.pow(e, (4798.6 / C8)));
                                            const alloy = document.getElementById('input9').value;
                                            let XcAF = a / (1.07 * alloy * Math.pow(10, (3751 / (C8 * 1.8 )))/100); 
                                            let CarbonAF = ((XcAF / (1 + 19.6 * XcAF))*100).toFixed(2);
                                            // Carbon //
                                            let Carbon = ((Xc1 / (1 + 19.6 * Xc1))*100).toFixed(2);
                                            console.log('Carbon:', Carbon);
                                            const input5Element = document.getElementById("input5");
                                            if (isNaN(Carbon) || Carbon === '-Infinity' || Carbon === 'Infinity') {
                                                input5Element.value = '***';
                                            }
                                            else{
                                                input5Element.value = Carbon;
                                            }
                                            let Z3 = (0.0107 * Math.pow(e, (4798.6 / C8)));
                                            let AF3 = -(3.2673 - 8820.69/C8 - 0.001208714 * C8 + 0.153734 * 0.000001 * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                            let AC3 = 36.72508 - 3994.704 / C8 + 0.004462408 * C8 - 0.671814 * 0.000001 * Math.pow(C8, 2) - 12.220277 * (Math.log(C8) / Math.log(10));
                                            let AI3 = (Math.pow(10, AF3) * Math.pow(10, AC3));

                                            /////////////// AA3 te sonuç birebir çıkmadı, tekrar bakılacak ///////////////

                                            let AA3 = (alloy/100) * Z3 * (Carbon * 100)/100;   
                                            // console.log('AA3:', AA3);

                                            const H2variable = document.getElementById('input10').value;
                                            // H2O //
                                            let H20 = ((input1Value * H2variable / AA3 * AI3) / 100).toFixed(2); 
                                            const input11Element = document.getElementById("input11");
                                            if (isNaN(H20) || H20 === '-Infinity' || H20 === 'Infinity') {
                                                input11Element.value = '***';
                                            }
                                            else{
                                                input11Element.value = H20;
                                            }
                                            

                                            let AT31 = Math.pow(10, (2.9419064318711 - 13007.7694364901 / C8)) * H20 / H2variable; 
                                            let AT3 = Math.pow(AT31,2); 
                                            // O2 //   
                                            let O2 = (-0.0275 * C8 * 1.8 * (Math.log(AT3 / 0.209) / Math.log(10))).toFixed(2);
                                            const input6Element = document.getElementById("input6");
                                            if (isNaN(O2) || O2 === 'Infinity') {
                                                input6Element.value = '***';
                                            }
                                            else if (O2 === '-Infinity') {
                                                input6Element.value = '***';
                                            }
                                            else{
                                                input6Element.value = O2;
                                            }
                                            
                                            let AO3 = (4238.7/(6.3979 - (Math.log(H20/100) / Math.log(10)))) - 460;
                                            // Dew //   
                                            let AP3 = ((AO3 - 32) / 1.8).toFixed(2);
                                            const input12Element = document.getElementById("input12");
                                            if (isNaN(AP3) || AP3 === '-Infinity' || AP3 === 'Infinity') {
                                                input12Element.value = '***';
                                            }
                                            else{
                                                input12Element.value = AP3;
                                            }
                                        }
                                        else if(togglememory.checked === true || toggle.checked === true) {
                                           ///
                                            const e = 2.718281828;
                                            const C8 = (((parseFloat(temp.value) - 32) * 5) / 9 + 273.15).toFixed(2);
                                            let log10K2 = -1 * (3.2673 - 8820.69 / C8 - 0.001208714 * C8 + 0.153734 * Math.pow(10, -6) * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                            let K2 = Math.pow(10, log10K2)
                                            let a = (((Math.pow(input1Value, 2) / input2Value) * K2) / 100);
                                            let Xc1 = a / (1.07 * Math.pow(e, (4798.6 / C8)));
                                            const alloy = document.getElementById('input9').value;
                                            let XcAF = a / (1.07 * alloy * Math.pow(10, (3751 / (C8 * 1.8 )))/100); 
                                            let CarbonAF = ((XcAF / (1 + 19.6 * XcAF))*100).toFixed(2);
                                            // Carbon //
                                            let Carbon = ((Xc1 / (1 + 19.6 * Xc1))*100).toFixed(2);
                                            console.log('Carbon:', Carbon);
                                            const input5Element = document.getElementById("input5");
                                            if (isNaN(Carbon) || Carbon === '-Infinity' || Carbon === 'Infinity') {
                                                input5Element.value = '***';
                                            }
                                            else{
                                                input5Element.value = Carbon;
                                            }
                                            let Z3 = (0.0107 * Math.pow(e, (4798.6 / C8)));
                                            let AF3 = -(3.2673 - 8820.69/C8 - 0.001208714 * C8 + 0.153734 * 0.000001 * Math.pow(C8, 2) + 2.295483 * (Math.log(C8) / Math.log(10)));
                                            let AC3 = 36.72508 - 3994.704 / C8 + 0.004462408 * C8 - 0.671814 * 0.000001 * Math.pow(C8, 2) - 12.220277 * (Math.log(C8) / Math.log(10));
                                            let AI3 = (Math.pow(10, AF3) * Math.pow(10, AC3));

                                            /////////////// AA3 te sonuç birebir çıkmadı, tekrar bakılacak ///////////////

                                            let AA3 = (alloy/100) * Z3 * (Carbon * 100)/100;   
                                            // console.log('AA3:', AA3);

                                            const H2variable = document.getElementById('input10').value;
                                            // H2O //
                                            let H20 = ((input1Value * H2variable / AA3 * AI3) / 100).toFixed(2); 
                                            const input11Element = document.getElementById("input11");
                                            if (isNaN(H20) || H20 === '-Infinity' || H20 === 'Infinity') {
                                                input11Element.value = '***';
                                            }
                                            else{
                                                input11Element.value = H20;
                                            }
                                            

                                            let AT31 = Math.pow(10, (2.9419064318711 - 13007.7694364901 / C8)) * H20 / H2variable; 
                                            let AT3 = Math.pow(AT31,2); 
                                            // O2 //   
                                            let O2 = (-0.0275 * C8 * 1.8 * (Math.log(AT3 / 0.209) / Math.log(10))).toFixed(2);
                                            const input6Element = document.getElementById("input6");
                                            if (isNaN(O2) || O2 === 'Infinity') {
                                                input6Element.value = '***';
                                            }
                                            else if (O2 === '-Infinity') {
                                                input6Element.value = '***';
                                            }
                                            else{
                                                input6Element.value = O2;
                                            }
                                            
                                            let AO3 = (4238.7/(6.3979 - (Math.log(H20/100) / Math.log(10)))) - 460;
                                            // Dew //   
                                            let AP3 = ((AO3 - 32) / 1.8).toFixed(2);
                                            const input12Element = document.getElementById("input12");
                                            if (isNaN(AP3) || AP3 === '-Infinity' || AP3 === 'Infinity') {
                                                input12Element.value = '***';
                                            }
                                            else{
                                                input12Element.value = AP3;
                                            }
                                        }
                                        // console.log('tempsecond:', temp.value);
                                        document.getElementById("keyboardContainer").style.display = "none";
                                    });
                                });
                            });
                        });

                        // Veriyi sunucuya gönderen yardımcı fonksiyon
                        function sendToServer(dataToSend) {
                            // AJAX isteği ile Flask endpoint'ına gönder
                            fetch('/update_data', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(dataToSend),
                            })
                            .then(response => response.json())
                            .then(data => {
                                // İsteğin başarılı olması durumunda yapılacak işlemler
                                console.log(data);
                            })
                            .catch(error => {
                                // İstekte hata olması durumunda yapılacak işlemler
                                console.error('Error:', error);
                            });
                        }
                        
                        function openKeyboard(inputId) {
                            // Klavye içeriğini keyboardContainer'a ekleyin
                            document.getElementById("keyboardContainer").innerHTML = `{% include 'numpad.html' %}`;
                            
                            // Belirtilen input alanına değeri ekle
                            const inputField = document.getElementById(inputId);
                            const labelField = document.getElementById("numpadLabel"); // Yeni eklenen label
                            labelField.textContent = inputField.value;
                            let isLabelCleared = true;

                            // Her tuşa tıklandığında ilgili inputa değeri ekle
                            document.querySelectorAll('.numpad .key').forEach(key => {
                                key.addEventListener('click', function () {
                                    const value = key.textContent;
                                    key.classList.add("clicked");

                                    if (inputField.value.charAt(0) === '0') {
                                        // Başında "0" varsa, "0" karakterini kaldır
                                        inputField.value = inputField.value.slice(1);
                                    }

                                    if(!(value =="Enter" || value =="Space"|| value =="Clear" || value =="X")){
                                        if (isLabelCleared) {
                                            // inputField.value = '';
                                            labelField.textContent = ''; // Numpad label'ını temizle
                                            isLabelCleared = false; // Bayrağı sıfırla
                                        }
                                        // inputField.value += value;  
                                        labelField.textContent += value;
                                    }
                                    setTimeout(function () {
                                        key.classList.remove("clicked");
                                    }, 50);
                                                              
                                });
                                
                            });

                            // Space tuşuna basıldığında
                            // document.querySelector('.keyboard .space').addEventListener('click', function () {
                            //     document.getElementById(inputId).value += ' ';
                            // });

                            // Close tuşuna basıldığında
                            document.querySelector('.numpad .close').addEventListener('click', function () {
                                // İsterseniz burada enter'a basıldığında yapılacak işlemleri ekleyebilirsiniz
                                // Örneğin bir form submit işlemi gibi
                                document.getElementById("keyboardContainer").style.display = "none";
                            });
                            let previousValue7 = document.getElementById("input7"); 
                            let preinput7 = previousValue7.value;
                            let previousValue8 = document.getElementById("input8"); 
                            let preinput8 = previousValue8.value;
                            let previousValue9 = document.getElementById("input9"); 
                            let preinput9 = previousValue9.value;
                            let previousValue10 = document.getElementById("input10"); 
                            let preinput10 = previousValue10.value;
                            // Enter tuşuna basıldığında
                            document.querySelector('.numpad .enter').addEventListener('click', function () {
                                
                                let shouldUpdateDatabase  = true;
                                const labelField = document.getElementById("numpadLabel"); 
                                const new_value = labelField.textContent;
                                const inputField = document.getElementById(inputId);
                                const input_id = inputField.name;
                                inputField.value = labelField.textContent;
                                let previousValue;
                                
                                //// VALIDATION /////
                                if (input_id == 'input7') {
                                    previousValue = preinput7;
                                    let value7 = parseFloat(new_value);
                                    let min7 = 0;
                                    if (isNaN(value7) || value7 < min7) {
                                        previousValue = preinput7;
                                        inputField.value = previousValue;
                                        alert('Please enter a value greater than' + min7);
                                        shouldUpdateDatabase = false;
                                    }
                                }
                                else if (input_id == 'input8') {
                                    previousValue = preinput8;
                                    let value8 = parseFloat(new_value);
                                    let min8 = 0;
                                    let max8 = 100;
                                    if (isNaN(value8) || value8 < min8 || value8 > max8) {
                                        previousValue = preinput8;
                                        inputField.value = previousValue;
                                        alert('Please enter a value between ' + min8 + ' and ' + max8 + '.');
                                        shouldUpdateDatabase = false;
                                    }
                                }
                                else if (input_id == 'input9') {
                                    previousValue = preinput9;
                                    let value9 = parseFloat(new_value);
                                    let min9 = 0;
                                    let max9 = 100;
                                    if (isNaN(value9) || value9 < min9 || value9 > max9) {
                                        previousValue = preinput9;
                                        inputField.value = previousValue;
                                        alert('Please enter a value between ' + min9 + ' and ' + max9 + '.');
                                        shouldUpdateDatabase = false;
                                    }
                                }
                                else if (input_id == 'input10') {
                                    previousValue = preinput10;
                                    let value10 = parseFloat(new_value);
                                    let min10 = 0;
                                    let max10 = 100;
                                    if (isNaN(value10) || value10 < min10 || value10 > max10) {
                                        previousValue = preinput10;
                                        inputField.value = previousValue;
                                        alert('Please enter a value between ' + min10 + ' and ' + max10 + '.');
                                        shouldUpdateDatabase = false;
                                    }
                                }

                                if (new_value === '0' || input_id.value === '0') {
                                    inputField.value ='0';
                                }
                                if(shouldUpdateDatabase == true){
                                    if (input_id && new_value) {
                                        // AJAX isteği ile Flask endpoint'ını çağır
                                        fetch('/update_data', {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify({
                                                input_id: input_id,  // Güncellenmesi istenen input alanının ID'si
                                                new_value: new_value,
                                            }),
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            // İsteğin başarılı olması durumunda yapılacak işlemler
                                            console.log(data);
                                        })
                                        .catch(error => {
                                            // İstekte hata olması durumunda yapılacak işlemler
                                            console.error('Error:', error);
                                        });
                                    } 
                                else {
                                    console.error('Invalid inputIdchange.');
                                }
                                }
                                // Örneğin bir form submit işlemi gibi
                                document.getElementById("keyboardContainer").style.display = "none";
                                isLabelCleared = false;
                            });
                            
                            // "Clear" tuşuna basıldığında yapılacak işlemler
                            document.querySelector('.numpad .clear').addEventListener('click', function () {
                                //const inputId = "input-field"; // Buradaki inputId değerini kendi kullanımınıza göre değiştirin
                                // inputField.value = '0'; // Input alanını temizle
                                labelField.textContent = '0';
                                const new_value = labelField.textContent;
                                const input_id = inputField.value;

                                if (input_id && new_value) {
                                    // AJAX isteği ile Flask endpoint'ını çağır
                                    fetch('/update_data', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify({
                                            input_id: input_id,  // Güncellenmesi istenen input alanının ID'si
                                            new_value: new_value,
                                        }),
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        // İsteğin başarılı olması durumunda yapılacak işlemler
                                        console.log(data);
                                    })
                                    .catch(error => {
                                        // İstekte hata olması durumunda yapılacak işlemler
                                        console.error('Error:', error);
                                    });
                                } else {
                                    console.error('Invalid inputIdchange.');
                                }
                            });
                    
                            // Pop-up'ı görünür yap
                            document.getElementById("keyboardContainer").style.display = "block";
                        }
                    
                        function closeKeyboard() {
                            // Pop-up'ı gizle
                            document.getElementById("keyboardContainer").style.display = "none";
                        }

                    </script>
                </form>
            </div>
            
        </div>
    </div>
    
    
</body>
</html>
