{% include 'header.html' %}
    <title>Main Menu</title>

            <div class="flex-container">
                <div class="grid-container">
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('livedata') }}" class="custom-button-classes ">
                                <img src="/static/images/livedata.svg" >
                                <span>Live Data</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Chart') }}" class="custom-button-classes ">
                                <img src="/static/images/graphic.svg" >
                                <span>Graphic</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Calibration') }}" class="custom-button-classes ">
                                <img src="/static/images/calibration.svg" >
                                <span>Calibration</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="grid-container">
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Operation') }}" class="custom-button-classes ">
                                <img src="/static/images/record.svg" >
                                <span>Record</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Setting') }}" class="custom-button-classes ">
                                <img src="/static/images/setting.svg" >
                                <span>Setting</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Info') }}" class="custom-button-classes ">
                                <img src="/static/images/info.svg" >
                                <span>Info</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</body>
</html>
