<!doctype html>
<html>
<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="mainabove-container">
            <!-- <a href="/logout">çıkış yap</a> -->
            <form method="get" action="/logout">
                <button type="submit" class="custom-button">
                    Eagleye AGA
                </button>
                <a href="#" class="custom-back-button" onclick="history.go(-1); return false;">
                    <img src="/static/images/back.svg">
                </a>
            </form>
        </div>
        <div class="mainbottom-container">
            <!-- <div class="button-container">
                <h1>eagleye®aga</h1>
            </div> -->
            <div class="flex-container">
                <div class="grid-container">
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('SetTime') }}" class="custom-button-classes ">
                                <img src="/static/images/time.svg" >
                                <span>Set Time</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('EthernetWifi') }}" class="custom-button-classes ">
                                <img src="/static/images/wifi.svg" >
                                <span>Ethernet/Wifi</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Admin') }}" class="custom-button-classes ">
                                <img src="/static/images/admin.svg" >
                                <span>Admin</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container">
                <div class="grid-container">
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Restart') }}" class="custom-button-classes ">
                                <img src="/static/images/restart.svg" >
                                <span>Restart</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Shutdown') }}" class="custom-button-classes ">
                                <img src="/static/images/shutdown.svg" >
                                <span>Shutdown</span>
                            </a>
                        </div>
                    </div>
                    <div class="mainbottomadd-container">
                        <div class="button-center">
                            <a href="{{ url_for('Logout') }}" class="custom-button-classes ">
                                <img src="/static/images/logout.svg" >
                                <span>Logout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>




