{% include 'header.html' %}
    <title>Wi-Fi</title>
            <h1 class="title-text">Wi-Fi</h1>
            {% if wifi_info %}
                <p>SSID: {{ wifi_info['SSID'] }}</p>
                <p>Password: {{ wifi_info['Password'] }}</p>
                <p>Signal Strength: {{ wifi_info['SignalStrength'] }}</p>
            {% else %}
                <p>Press the button to get Wi-Fi information.</p>
            {% endif %}

            <form method="POST" action="{{ url_for('wifi_info') }}">
                {{ csrf_token }}
                <button type="submit">Get Wi-Fi Info</button>
            </form>
        </div>
    </div>
</body>
</html>
