/* Orta hizalama için gerekli CSS kodları */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    border: 2px solid #ccc;
    padding: 15px;
    max-width: 300px;
    border-radius: 10px 10px 10px 10px; 
    height: 290px; /* Yükseklik belirleme */
    width: 400px;  /* Genişlik belirleme */
}
/* Field (input) alanları arasındaki boşluğu ayarlamak için */
.login-container-input {
    /*margin: 3px;  Yukarıdan ve alttan 3 piksel boşluk bırakır */
    margin-top: -14px;
    margin-left: 20px;
    padding: 5px;   /* Alanın içeriğinden etrafındaki boşluğu ayarlar */
    height: 25px; /* Yükseklik belirleme */
    width: 250px;  /* Genişlik belirleme */
    text-align: left;
    border-bottom: 2px solid #000;
    border-radius: 10px; 
    background-color: rgb(255, 255, 255);
}
.login-container-button {
    margin: 20px;
    margin-top: 10px;
    background-color: #007bff; /* Arka plan rengi */
    color: white;              /* Yazı rengi */
    border: none;              /* Kenarlık yok */
    padding: 10px 50px;         /* Buton boyutu */
    border-radius: 2rem 0.5rem 2rem 0.5rem ;        /* Köşeleri yuvarlama */
    cursor: pointer;           /* Fare imleci el işareti */
}
.login-container button:hover {
    background-color: #f0af38; /* Fare imleci butonun üzerindeyken arka plan rengi */
}
.custom-text {
    font-family: Calibri, sans-serif;
    font-size: 30px;
}
.label1 {
    font-family: Calibri, sans-serif; /* Etiketin yazı tipi */
    font-size: 18px; /* Yazı boyutu */
    font-weight: bold;
    color: #333; /* Yazı rengi */
    margin-bottom: 10px; /* Alt boşluk */
    margin-left: 15px;
    display: block; /* Her label bir satırda görüntülensin */
    width: 250px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border: none;
    /* Diğer özelleştirmeler buraya eklenebilir */
}
.submit-button {
    background-color: #007bff; /* Arka plan rengi */
    color: white; /* Yazı rengi */
    border: none; /* Kenarlık yok */
    padding: 10px 20px; /* Buton boyutu */
    border-radius: 5px; /* Köşeleri yuvarlama */
    cursor: pointer; /* Fare imleci el işareti */
  }
  
.alert {  /*loginde başarılı veya hatalı giriş yapılınca kullanılıyor */
    margin: 1px;
    margin-top: -23px;
    padding: 5px;
}

.alert-success {
    background-color: #28a745;
    color: #fff;
}

.alert-danger {
    background-color: #dc3545;
    color: #fff;
}
.container {
    width: 800px;
    height: 450px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
@media screen and  (max-width:800px){
    .container {
        width: 800px;
        height: 450px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }
} 

.container > .mainabove-container {
    height: 50px;
    border-bottom: 2px solid #ccc;
    border-radius: 10px
    /* .mainabove-container'a ait stil özellikleri */
}

.container > .mainabove-container + .mainbottom-container {
    margin: none; /* .mainabove-container ile .mainbottom-container arasına 20 piksellik bir boşluk ekler */
}

.container > .mainbottom-container {
    /* height: 380px;
    border: 2px solid #ccc;
    border-radius: 10px */
    /* .mainbottom-container'a ait stil özellikleri */
    display: grid;
    grid-template-columns: 1fr; /* Tek sütun */
    grid-template-rows: repeat(3, 1fr); /* İki satır */
    height: 396px; /* Ekran yüksekliği kadar yer kaplar */
    /* border: 2px solid #ccc;
    border-radius: 10px */
    /* min-height: 50vh; */
}

.title-text {
    font-family: Calibri, sans-serif;
    font-size: 30px;
    margin-top: 5px;
    padding: 5px;
    text-align: left;
}
/* CSS dosyasında butonun görünümünü özelleştirme */
button {
    background-color: #007bff; /* Arka plan rengi */
    color: white; /* Yazı rengi */
    border: none; /* Kenarlık yok */
    padding: 10px 20px; /* Buton boyutu */
    border-radius: 5px; /* Köşeleri yuvarlama */
    cursor: pointer; /* Fare imleci el işareti */
    margin: 7px;
    padding: 10px;
}

.canvas-style{
    margin-top : -45px;
    margin-left :3px;
}

.custom-button {
    background-image: url("/static/images/3EHome.png");
    background-size: contain; /* Resmi düğme boyutuna uyacak şekilde ayarlar */
    background-repeat: no-repeat; /* Tekrarlamayı engeller */
    width: 145px; /* Düğme genişliği */
    height: 40px; /* Düğme yüksekliği */
    padding-left: 50px; /* Resmi düğme içinde hizalamak için sol boşluk ekler */
    border: none; /* Kenarlık yok */
    text-align: left; /* Yazıyı sola hizalar */
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
}
a.custom-back-button {
    display: inline-block;
    background-color: #ffffff; /* Arka plan rengi */
    color: white; /* Yazı rengi */
    padding: 10px 20px; /* Buton boyutu */
    border-radius: 5px; /* Köşeleri yuvarlama */
    text-decoration: none; /* Altçizgiyi kaldırır */
    font-weight: bold; /* Yazıyı kalınlaştırır */
    float: right; /* butonu sağa kaydırır */
    margin-right: 10px; /* Sağdan 10 piksel boşluk bırakır (isteğe bağlı) */
    margin-top: 3px;
}

a.custom-back-button img {
    width: 20px; /* Resmin genişliğini ayarlayın */
    height: 20px; /* Resmin yüksekliğini ayarlayın */
    margin-right: 5px; /* Metin ile resim arasındaki boşluğu ayarlayın */
}

a.custom-back-button:hover {
    background-color: #f0af38; /* Fare imleci butonun üzerindeyken arka plan rengi */
}

button:hover {
    background-color: #f0af38; /* Fare imleci butonun üzerindeyken arka plan rengi */
}

.submit-button:hover {
    background-color: #f0af38; /* Fare imleci butonun üzerindeyken arka plan rengi */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Üç sütun */
    grid-template-rows: repeat(2, auto);/* Tek satır */
    gap: 3px; /* Sütunlar arası boşluk */
    row-gap: 25px; /* Satır arası boşluk */
    flex: 1;
    min-height: 1px; /* minimum yükseklik değeri */
    max-height: 100px; /* maksimum yükseklik değeri */
}
.grid-container .mainbottomadd-container {
    grid-row: 1; /* İkinci satıra yerleştir */
    /* Diğer stil özellikleri */
}
.mainbottomadd-container {
    display: flex;
    margin-top: -55px; 
    justify-content: center; /* Yatayda merkezleme */
    align-items: center; /* Dikeyde merkezleme */
    height: 216%; /* İçeriği dikeyde ortalamak için */
    border: 1px solid #ccc; /* Sadece sınırları göstermek için, isteğe bağlı */
    border-radius: 10px; /* Köşeleri yuvarlama */
}
.flex-container {
    display: flex;
    justify-content: space-between; /* Öğeler arasında eşit boşluk bırakır */
    margin-top: 84px;
    height: 100px;
}

.button-container {
    display: flex;
    justify-content: center; /* Öğeleri yatayda ortalar */
    align-items: center; /* Öğeleri dikeyde ortalar */
    background-color: #f0f0f0; /* Arka plan rengi */
    padding: 10px; /* i̇stenilen iç boşluk */
    height: 30px;
}
.button-center {
    text-align: center; /* İçeriği yatayda ortalamak için */
}

.button-center a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-center img {
    max-width: 100px; /* Buton resminin maksimum genişliği, isteğe bağlı */
}
.custom-button-classes {
    /* background-image: url("/static/images/3ehome.png");  */
    background-size: contain; /* Resmi düğme boyutuna uyacak şekilde ayarlar */
    background-repeat: no-repeat; /* Tekrarlamayı engeller */
    justify-content: center; /* Öğeleri yatayda ortalar */
    align-items: center; /* Öğeleri dikeyde ortalar */
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-size: 17px;
}

.label-container {
    margin-top: 17px; /* İhtiyacınıza göre ayarlayabilirsiniz */
    margin-left: -190px; /* İhtiyacınıza göre ayarlayabilirsiniz */
}

.labelright-container {
    margin-top: -340px; /* İhtiyacınıza göre ayarlayabilirsiniz */
    margin-left: 195px; /* İhtiyacınıza göre ayarlayabilirsiniz */
}

 
.label-livedata {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-left: 220px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 360px;
    height: 50px;
    line-height: 50px;
} 

.label-livedata-unforbidden {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-left: 220px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 360px;
    height: 50px;
    line-height: 50px;
} 

.label-calibration {
    display: block;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 360px;
    height: 50px;
    line-height: 50px;
} 

.input-livedata {
    display: block;
    background-color: #d1d1d1;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #333;
    border: none;
    padding: 10px 0px;
    border-radius: 0.5rem;
    font-weight: bold;
    margin-top: -48px;
    margin-left: 140px;
    width: 210px;
    height: 25px;
    text-align: center;
} 

.input-calibration{
display: block;
color: #333;
font-weight: bold;
border: 1px solid #ccc;
background-color: #d1d1d1;
border-radius: 10px;
width: 100%; /* input'ların hücre genişliğini tam doldurması için */
line-height: 50px;
font-family: Calibri, sans-serif;
font-size: 18px;
border-bottom: 1px solid #dddddd;
text-align: center;
padding: 5px;
height: 35px;
max-width: 135px; /* Maksimum genişlik */

}

.lvedta-label {
    position: relative;
}

.label-livedata input {
    display: block;
    background-color: #ffaaaa;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #333;
    border: none;
    padding: 10px 0px;
    border-radius: 0.5rem;
    cursor: pointer; 
    font-weight: bold;
    margin-top: -48px;
    margin-left: 140px;
    width: 210px;
    height: 25px;
    text-align: center;
} 

.custom-hr {
    border: none; /* Mevcut sınırı kaldır */
    height: 1px; /* Çizgi kalınlığı */
    width: 360px;
    background-color: #ccc; /* Çizgi rengi */
    margin: 14px;
    margin-left: 220px;
}

.calibration-custom-hr {
    border: none; /* Mevcut sınırı kaldır */
    height: 1px; /* Çizgi kalınlığı */
    width: 724px;
    background-color: #ccc; /* Çizgi rengi */
    margin: 3px;
    margin-left: 40px;
}

.info-image {
    display: flex;
    justify-content: space-around;
    text-align: left; /* Resmi ortala */
    /*border: 1px solid #fc0000;  Kenarlık ekleyerek resmi belirginleştir */
    padding: 1px; /* Kenarlık içinde bir boşluk bırak */
    margin-left: 20px;
    width: 755px;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.info-image img {
    width: 310px;
    height: 310px;
}

/* keyboard */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    z-index: 1001;
}

.popup-content {
    max-height: 200px;
    overflow-y: auto;
}

.spanpopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    padding: 21px;
    z-index: 1000;
    width: 400px;
    height: 200px;
}

.spanpopup-content {
    text-align: left;
    margin-top: 10px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 28px;
}

.spanpopup-content h2 {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin-top: 0px; /* Veya ihtiyaca göre bir boşluk */
}

.spanpopup-label {
    font-size: 18px;
    color: #333;
    display: block; /* Yeni eklenen stil */
    margin-left: 5px;
    height: 32px;
    width: 380px;
    border: none;
    align-items: center;
}

.spanpopup-input {
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 21px;
    padding: 8px;
    width: calc(100% - 32px); 
    display: block; 
    height: 40px;
    text-align: left;
    border: 2px solid #4caf50;
    border-radius: 10px;
}

#pageWarningP {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin-top: 40px;
}

#nextButton {
    position: absolute;
    bottom: 10px; /* İstenilen alt boşluk miktarı */
    right: 30px; /* İstenilen sağ boşluk miktarı */
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#calibrateButton {
    position: absolute;
    bottom: 10px; /* İstenilen alt boşluk miktarı */
    right: 30px; /* İstenilen sağ boşluk miktarı */
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#calibratePopupButton {
    position: absolute;
    bottom: 10px; /* İstenilen alt boşluk miktarı */
    right: 30px; /* İstenilen sağ boşluk miktarı */
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#calibratePopupButton:hover {
    background-color: #f0af38;
}

#closePopupButton {
    position: absolute;
    bottom: 10px; /* İstenilen alt boşluk miktarı */
    right: 125px; /* İstenilen sağ boşluk miktarı */
    padding: 8px 16px;
    background-color: #bebebe;
    color: #fff;
    border: none;
    cursor: pointer;
}

#closePopupButton:hover {
    background-color: #0056b3;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.numpad {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label2 {
    width: 200px;
    height: 35px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    display: flex;
    gap: 5px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #333; /* Çizgi rengi */
    width: 60px;
    height: 35px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 5px;
}

.key.space {
    width: 120px;
}
.key.enter {
    width: 130px;
    background-color: rgb(158, 135, 201);
    color: #000000;
    font-weight: bold;
}
.key.zero {
    width: 130px;
}
.key.clear {
    width: 60px;
}
.key.close {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    text-align: center; /* Ortalamak için */
    margin-left: auto;  /* Sağa yanaştırmak için */
    cursor: pointer;
}
.key.clicked {
    background-color: rgb(255, 150, 64) /* Basıldığında arka plan rengi */
}

/* Butonun genel stil özellikleri */
.span-button {
    background-color: #4CAF50; /* Arka plan rengi */
    color: white; /* Metin rengi */
    padding: 10px 20px; /* Dış boşluk (padding) */
    border-radius: 20px; /* Kenar yuvarlaklığı */
    font-size: 18px; /* Metin boyutu */
    font-family: Calibri, sans-serif;
}
#zerocalibratebutton {
    background-color: #0077c7; /* Özel arka plan rengi (örnek: kırmızı) */
    &:hover {
        background-color: rgb(255, 150, 64);
    }
    &:active {
        background-color: #45a049; /* Basıldığında arka plan rengi */
    }
}
.gas-label {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 0.5rem;
    font-weight: bold;
    justify-content: center;
    height: 35px;
    max-width: 135px; /* Maksimum genişlik */
    margin-left: -10px;
    line-height: 2; 
    min-width: 55px;
}


.reset-label {
    display: flex;
    width: 200px;
    border: none;
    height: 40px;
    border-bottom: 2px solid #ff0000;
    border-radius: 10px; 
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    justify-content: center; 
    align-items: center;
}
.reset-button {
    background-color: #ff9419; /* Arka plan rengi */
    width: 90px;
    color: white; /* Metin rengi */
    padding: 10px 20px; /* Dış boşluk (padding) */
    border-radius: 20px; /* Kenar yuvarlaklığı */
    font-size: 18px; /* Metin boyutu */
    font-family: Calibri, sans-serif;
}
.reset-zero {
    background-color: #ff9419; /* Arka plan rengi */
    width: 90px;
    color: white; /* Metin rengi */
    padding: 10px 20px; /* Dış boşluk (padding) */
    border-radius: 20px; /* Kenar yuvarlaklığı */
    font-size: 18px; /* Metin boyutu */
    font-family: Calibri, sans-serif;
}
.log-button {
    background-color: #3ab0ff; /* Arka plan rengi */
    width: 163px;
    color: white; /* Metin rengi */
    padding: 5px 20px; /* Dış boşluk (padding) */
    border-radius: 10px; /* Kenar yuvarlaklığı */
    font-size: 19px; /* Metin boyutu */
    font-family: Calibri, sans-serif;
    margin-left: 10px;
}